/* Sidebar.css */
.sidebar {
  width: 290px;
  height: 100%;
  background-color:#AEC6CF;
  padding: 30px 0;
  margin-left: -18px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  color:black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  position: relative; /* Add this line to make the lines relative to the buttons */
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Add lines as pseudo-elements */
.sidebar ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 4px;
  height: 100%;
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
  background-color: #1b066e;
  color: #fff;
}

/* Show lines on hover */
.sidebar ul li a:hover::before {
  background-color: #000000a3;
}
